ex1/ex1.dtd

<!ELEMENT Game_Of_Thrones (Family*)>
<!ELEMENT Family (Member+)>
<!ELEMENT Member (First_Name, Last_Name)>
<!ATTLIST Member id ID #REQUIRED
    gender (male | female) #REQUIRED
    wife IDREF #IMPLIED
    husband IDREF #IMPLIED
    father IDREF #IMPLIED
    mother IDREF #IMPLIED
    children IDREFS #IMPLIED
    bastard IDREF #IMPLIED
    family CDATA #REQUIRED>
<!ELEMENT First_Name (#PCDATA)>
<!ELEMENT Last_Name (#PCDATA)>